/* Icon */
.pi-eye {
    position: absolute;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 100%;
}

.pi-eye-slash {
    position: absolute;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 100%;
}

.pi-eye:before {
    color: #fff;
    cursor: pointer;
}

.pi-eye-slash:before {
    color: #fff;
    cursor: pointer;
}

/* Panel */
.p-password-panel {
    position: absolute;
    top: 0;
    left: 0;
}

.p-password .p-password-panel {
    min-width: 100%;
}

.p-password-meter {
    height: 10px;
}

.p-password-strength {
    height: 100%;
    width: 0%;
    transition: width 1s ease-in-out;
}
